{
    "AzureOAIEndpoint": "https://goa-acsal-openai-dev.openai.azure.com/",
    "AzureOAIKey": "Key: 3a9a45ece4ca473e88d1de6935259712",
    "AzureOAIDeploymentName": "goa-acsal-openai-dev-gpt4"
}

{
    "AzureOAIEndpoint": "https://goa-acsal-openai-dev.openai.azure.com/",
    "AzureOAIKey": "Key: 3a9a45ece4ca473e88d1de6935259712",
    "AzureOAIDeploymentName": "goa-acsal-openai-dev-gpt35"
}